.arrow {
    cursor: pointer;
    position: relative; 
    height:80px;
    margin:20px;
    animation: up-down 1.4s infinite ease-in-out alternate;
    @keyframes up-down{
        from{ transform: translatey(-8px); }
        to{ transform: translatey(8px); }
      }
} 
.arrow::after { 
    content: ''; 
    // position: absolute; 
    display:inline-block;
    // left: 0; 
    // top: 0; 
    width: 22px; 
    height: 22px; 
    border-top: 5px solid #FF4081; 
    border-right: 5px solid #FF4081;
    transform: rotate(135deg);
}